$primaryColor: #64ffda;
$secondaryColor: #55182F;
$errorColor: #ff4e4e;
$warningColor: #ffa85d;
$successColor: #89d426;

$color1:#1A2225;
$color2:#838381;
$color3:#737474;
$color4:#4b2004;

$darkBlue: #172b4d;
$lightRed: #ff4e4e;

$gold: #ffa85d;
$grey: #A0ADBB;
$lightGrey:#c5c5c5;

$bluish-1:#f1efe2;

$bodyBg:#0a192f;
$textColor: #8892b0;

$whiteBg: #f8f8f8;
$bluishWhite: #f9fdff;

